body {
    overflow-x: hidden;
    font-family: Graphik;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

* {
    font-family: Averta, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    margin-left: 90px;
    padding-top: 20px;
}

UL {
    list-style-type: none;
    display: flex;
    margin-right: 90px;
}

ul a {
    text-decoration: none;
    margin-left: 65px;
    color: black;
    font-size: 17px;

}
ul a:focus{
    text-decoration: underline;
}
.section_1{
    margin: 180px 0px;
}
.section_1 .box, .section_2 .box{
    display: flex;
    margin: auto;
    max-width: 1300px;
}

.box_1,
.box_2 {
    width: 50% !important;
}

.box_2 {
    display: flex;
    justify-content: end;
}

.box_1 h2 {
    font-size: 42px;
}

.box_1 img {
    position: absolute;
    top: -60px;
    right: 20px;
    width: 16%;
}

.box_1 .text {
    width: 450px;
    font-size: 19px;
    color: rgb(120, 120, 120);
    line-height: 1.3;
}

.btn1,
.btn2 {
    font-weight: 400;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 50px;
    border: 1px solid;
    margin-top: 15px;
    color: white;
    border-bottom-right-radius: 10px;
}

.btn1 {
    background-color: rgb(229, 51, 43);
}

.btn2 {
    background-color: rgb(88, 88, 88);
    margin-left: 15px;
}

.section_2 {
    background-image: url(./bgsection2.png);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.box_a,
.box_b {
    width: 50%;
    margin-top: 90px;
}

.box_b {
    display: flex;
    justify-content: end;
}

.box_a h2 {
    margin-top: 80px;
    font-size: 40px;
}

.box_a p {
    font-size: 19px;
}

.line_2 {
    color: rgb(120, 120, 120);
}

.country {
   background-color: white;
   padding: 6px 15px;
   border-radius: 10px;
}

.section_3 .box {
    margin: 0px 90px;
}

.box .skills,
.box .where {
    font-size: 40px;
    width: 500px;
}

.needs,
.clients {
    display: flex !important;
}

.need,
.client {
    margin-right: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(123, 123, 123, 0.165);
    color: rgb(120, 120, 120);
    padding: 0px 25px !important;
    text-align: center;
    cursor: default;
}

.need:hover,
.client:hover {
    transform: translateY(-13px);
    transition: .4s;
}

.section_4 {
    background-color: rgb(255, 248, 229);
    margin-top: 80px;
}

.section_4 .box h2 {
    font-size: 40px;
    padding-top: 100px;
}

.why {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 100px !important;
}

.why_box {
    background-color: white;
    padding: 60px 40px;
    border-bottom-right-radius: 15px;
    text-align: center;
    width: 22%;
    height: 180px;
    font-size: 18px;
    color: rgb(120, 120, 120);
    line-height: 1.5;
}

.why_box:hover {
    background-color: black;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    height: 170px;
}

.footer {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 70px;
}

.socials {
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 1200px) {
    .needs, .clients{
        flex-basis: 25% !important;
        max-width: 25% !important;
    }
}
@media screen and (max-width: 767px) {
    .country{
        width: 100%;
    }
}